{% extends "layout.html" %}
{% block content %}

		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<div class="caption" >
						<h4><a href="/wiki">Wiki</a></h4>
						<p>
							Cloudscale project wiki with content and materials that we produced during project.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h4><a href="/cse">Cloudscale Environment</a></h4>
						<p>
							Installation packages for Cloudscale Enviroment for Windows, Linux and Mac OSX.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h4><a href="/showcase/">Showcase</a></h4>
						<p>
							Legacy, MySQL and MongoDB version of showcase for Cloudscale Environment.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 22px;">
			<div class="col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h4><a href="/distributed-jmeter/">Distributed JMeter</a></h4>
						<p>
							Distributed JMeter on Amazon Web Services.
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
