<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CloudScale Environment{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/custom.css" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .col-md-4 {
            cursor: pointer;
        }

        .col-md-4 .thumbnail {
            height: 160px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <a href="/"><img src="images/logo-CloudScale.png"></a>
    </div>
    {% block content %}
    {% endblock %}
    <script type="text/javascript">
    $(document).ready(function () {
        $(".col-md-4").click(function () {
            window.location = $(this).find("a").attr("href");
        })
    })
    </script>
</div>
</body>
