<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="/templates/layout">
  <head>
  	<title>Search</title>
  </head>
<body>
<div layout:fragment="content">
	
	<div class="jumbotron">
		<h1>TPC Web Commerce Benchmark (TPC-W)</h1>
	</div>
	<div class="promotional">
		<div class="pull-left" th:each="item : ${promotional}">
			<a th:href="@{'/product-detail?I_ID=' + ${item.IId} + '' + ${productUrl}}">
				<img th:src="@{ ${imgResourceUrl} + '/' + ${item.IThumbnail}" src="" width="100" height="100" />
			
			</a>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<hr />
	
	<form method="get">
	Search by: 
	<select name="searchField">
		<option value="author">
			Author
		</option>
		<option value="title">
			Title
		</option>
		<option value="subject">
			Subject
		</option>
	</select>
	<input type="text" name="keyword" th:value="${keyword}"/>
	<input type="submit" value="Submit"/>
	</form>
	<div th:if="${results != null and not results.isEmpty()}" class="search-results">
		<table>
			<thead>
				<tr>
					<th style="width: 50px; font-weight: bold;">
						#
					</th>
					<th>
						Author
					</th>
					<th>
						Title
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, count : ${results}">
					<td style="width: 50px; font-weight: bold;" th:text="${count.count}"></td>
					<td th:text="${item.author.AFname + ' ' + item.author.ALname}">
					</td>
					<td>
						<a th:href="@{'/product-detail?I_ID=' + ${item.IId}} + ${productUrl}" th:text="${item.ITitle}"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:unless="${ results != null and not results.isEmpty()}">
		No results!
	</div>
</div>
</body>
</html>