[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = 0

[mysqld]
#
# * Basic Settings
#
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking

#bind-address            = 0.0.0.0
#
# * Fine Tuning
#
key_buffer              = 16M
max_allowed_packet      = 16M
thread_stack            = 192K
thread_cache_size       = 8
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam-recover         = BACKUP
#max_connections        = 100
#table_cache            = 64
#thread_concurrency     = 10
#
# * Query Cache Configuration
#
query_cache_limit       = 1M
query_cache_size        = 16M

log_error = /var/log/mysql/error.log

#
# * Galera settings
#
# Mandatory Settings
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2

# Optional mysqld Settings
innodb_buffer_pool_size=28G
innodb_log_file_size=100M
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=0
innodb_locks_unsafe_for_binlog=1 #disables gap locking

# Basic wsrep Provider Settings
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_provider_options="gcache.szie=32G;gcache.page_size=1G;"
wsrep_cluster_name='galera_cluster'


# Optional Memory Settings
gcs.recv_q_hard_limit=4G
gcs.recv_q_soft_limit=2G
gcs.max_throttle=0.25T

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]
#no-auto-rehash # faster start of mysql but no tab completition

[isamchk]
key_buffer              = 16M

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/


