{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <p>
        This is the result of WP5 of CloudScale project. For more information see
        <a href="http://www.cloudscale-project.eu">CloudScale project homepage</a>.
    </p>
</div>
<div class="row marketing">
    <p>
        This page is about CloudScale load testing tool which you can use for stress
        testing of your website. It's a web interface for distributed JMeter.
        All you have to do is to upload your JMeter scenario and wait it to finish its
        job.
    </p>
    <p>
        Currently we run distributed JMeter on one master instance and two slave instances
        on Amazon Web Services. If you have a need to increase that please
        <a href="{{ url_prefix }}/contact">contact us</a>.
    </p>
</div>
{% endblock %}