{% load staticfiles %}<!-- form-profile.html -->
<div class="form-group text-center">
    <h2>Choose database</h2>
    <hr>
    <p>
        <div class="provider" ng-click="db_provider('mysql')">
            <img  src="{% static "../../static/images/mysql.png" %}" />
        </div>
        <div class="provider" ng-click="db_provider('mongodb')" ng-if="formData.provider == 'openstack'">
            <img src="{% static "../../static/images/mongodb.png" %}" />
        </div>
    </p>
    <hr>

    <div class="text-center">
        <button ng-click="prevStep('/step1')" class="btn btn-primary">Prev</button>
    </div>
</div>

</div>