[mysqld]
innodb_buffer_pool_size=1G

bind-address=0.0.0.0

binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
innodb_doublewrite=1
query_cache_size=0

wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="galera_showcase_cluster"
wsrep_sst_method=rsync